@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Noto+Sans&display=swap');

:root {
    --primary-color: #36a736   ;
    --secondary-color: #2c182d77 ;
    --accent1-color: #c2edf3;
    --accent2-color: white;
  
    --heading-font: "Dongle";
    --paragraph-font:"Noto Sans";
  
     
    --headline-color-on-white: #2a0202ea ;  
    --headline-color-on-color: rgb(20, 15, 63);  
    --paragraph-color-on-white:#c2edf3;  
    --paragraph-color-on-color: white;  
    --paragraph-background-color: #c2edf3 ;
    --nav-link-color: #c2edf3;
    --nav-background-color: #f8e8a8;
    --nav-hover-link-color: white;
    --nav-hover-background-color:#36a736 ;
  }
  
  a {
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    padding: 10px;
  }
  h2{
    font-size: 3em;
  }

  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
 }

 body {
    /* max-width: 840px; */
    margin: 1em;
    text-align: center;
   background-color: var(--nav-background-color);
 }
 .hero{
    position: relative;
    
    
 }
 main{
    width: 100%;
    text-align: center;
 }
 
 .hero img{
    display: block;
    width: 100%;
    height: auto;
 }
 h1, article,p{
    position: absolute;
 }

 h1{
    top:1em;
    font-size: 3em;
    padding-top: 0.2em;
    background-color: #76b376;
    opacity: 0.7;
    width: 99%;
    text-align: center;
    

 }

 #history{
   margin: 1em;
   padding: 2em;
   display: grid;
   border: 1px 1px solid var(--secondary-color);
   box-shadow: 1px 1px 5px 10px var(--paragraph-background-color);
   flex-direction: row;
   align-items: center;
   grid-template-columns: 1fr 4fr;
  
   
 }

 #history h2{
   grid-column: 1/2;

 }
 #history div{
   grid-column: 2/3;
   max-width: 90%;
 }


 .flexbox{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: nowrap;
    overflow-x:auto;
 }
 
  .imgbox img{
   width: 500px;
   height: 340px;
 }

 .imgbox{
   border: 1px solid tan;
   box-shadow: 1 1px 20px 5px green;
   width: 510px;
 }

 article{
    top:15em;
    position: absolute;
    width: 100%;
    background-color: #032703;
    opacity: 0.5;
    margin: 5%;
    width: 80%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    color:white;
    height: 200px;

 }
 article p{
    padding: 0;
    display: inline;
    grid-column: 1/2;
 }

 article img{
    grid-column: 2/3;
    float: right;
    max-width: 300px;
    padding: 5px;
    
 }

 .sociallinks{
    flex-direction: row;
    justify-content: space-around;

 }
 .sociallinks img{
    max-width: 30px;
 }

 footer{
    display: grid;
    grid-template-columns: 8fr 1fr;
    align-content: center;
    background-color: rgb(110, 77, 33);
    padding: 10px;
    
 }
 .imgbox h3{
   font-size: 2.5rem;
 }

 header{
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: rgb(110, 77, 33);
 }
#logo img{
    max-width: 100px;
 }

 header div nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
    font-size: 2rem;
    justify-content: space-around;
 }


.footerdiv p{
   position: relative;
   text-align: center;
   color:white;
   font-size: 1.2em;
 }
 nav a{
   color:antiquewhite;
 }

 #content_contactus{
   box-sizing: border-box;
   background-color:rgb(230, 241, 223);
   

}


#content_contactus h1{
   font-size: 58px;
}
form input{
   display: block;
   margin-bottom: 10px;
   
}
form{
   max-width:50%;
   margin:auto;
   border: 3px solid green;
   background-color: rgb(184, 243, 184);
   color:black;
   font-size: 30px;
   overflow: hidden;
}
form input,  button{
   padding: 3px;
   font-size: 32px;
   margin: 2% 10%;
}
textarea{
   padding: 3px;
   font-size: 32px;
}
.box_content{
   margin: 3%;
   
}
form label{
   text-align: left;
}
#feedback{
   background-color: rgb(155, 243, 155);
   border:1px solid green;
   position:fixed;
}
.employee-grid{
   display: flex;
   flex-direction: row;
   column-gap: 1em;
   margin: 5% 10%;

}
.employee-grid img{
   max-width: 400px;
}

form{
   margin-bottom: 10%;
}

.contact-info{
   display: grid;
   grid-template-columns: 1fr 2fr;
   max-height: 500px;
   align-items: center;
}

.contact{
   text-align: center;
   font-size: 2em;
   position: relative;
   display: block;
}
.location h3{
   font-size: 4rem;
}

.footerdiv a{
   color: white;
}

.boxes{
   margin-top:40px;
   display: grid;
   grid-template-rows:300px 300px;
   gap:40px;
   margin-left: 10px;
   margin-right: 10px;
}
.box1, .box2{
   background-color:rgb(123, 155, 123);
   position: relative;
  
}
.boxes img{
   width: 400px;
   max-height: 280px;
   display: inline;
   margin: 10px;
   float:left;
   overflow:hidden;
   border:solid 4px green;
   border-radius: 3%;
   


}
p{
   position: relative;
}

table {
   margin-top: 10%;
   border-collapse: collapse;
 }

 td {
   border: 1px solid black;
   padding: 8px;
   font-family:var(--paragraph-font) ;
   font-size: 1.5em;
 }

 .heading td{
   font-size: 3em;
   font-weight: 1000;
   color: black;
   font-family: var(--heading-font);
 }

 .content-trips{
   display: grid;
   grid-template-columns: 3fr 1fr;
 }
